.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #050404;
  color: white;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.navbar-logo {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: white;
}

.logo {
  width: 40px;
  margin-right: 10px;
  margin-top: 20px;
}

.navbar-menu {
  list-style-type: none;
  display: flex;
  gap: 20px;
}

.navbar-menu li {
  display: inline;
}

.navbar-menu a {
  text-decoration: none;
  color: white;
}

.navbar-right-item button {
  background-color: #276dcf;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  margin-left: 10px;
}

.navbar-right-item button:hover {
  cursor: pointer;
  background-color: rgb(219, 13, 13);
  transform: scale(1.01);
  transition: 0.5s ease;
}
